main {
    display: flex;
    flex-direction: row;
}
#right-body {
    position: fixed;
    right: 0;
    width: 80vw;
    max-width: 80vw;
    background-color: #d2d3cb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}