#galeria-marcas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo-marca {
    width: 150px;
    height: 150px;
    border: 3px #383838 solid;
    border-radius: 50px;

}

.brand-span {
    width: 150px;
    height: 150px;
    background-color: rgba(38, 38, 38, 0.7);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 152px;
    z-index: 2;
}

.brand-name {
    color: #fbfbfb;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 3px black; 
}

main figure {
    max-height: 150px;
    border-radius: 50px;
}

main figure:hover {
    animation-name: sombreado;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

main figure:hover .brand-span {
    animation-name: opacity70to0;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}}