footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    padding: 80px;
    border: solid 2px #383838;
}
footer a {
    margin: 5px;
}
footer p {
    margin-top: 10px;
}