/* Mobile Firts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  main img{
    max-width: 100%;
    height: auto;
  }
  #galery ul{ display: none}

  #product{
    background-color: #f2f2f2;
    border: 0.1rem solid rgb(15, 15, 15);
    padding: 1rem;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    
  }

  h2{
      font-size: 20px;
      align-items: center;
      padding: 10px;
  }

.precio-prod{
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}

  #rating{}

  #description{
    margin: 10px;
  }
  
h3{
  margin: 10px;
}

  #product form{
    align-items: stretch;
 }
 
 .form-control{
   flex-flow: column wrap;
 }
 

  #carro {
    background: rgb(5, 130, 45);
    color: rgb(250, 250, 250);
    border: 0.25rem solid rgb(15, 15, 15);
    box-shadow: 0 0 0.25rem 0 rgb(15, 15, 15);
    border-radius: 1rem; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
   }


   section {
    text-align: center;
}

#galeria-recomendados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
}

h1 {
    background-color: #f2f2f2;
    border: solid 3px #383838;
    font-size: 30px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}
 
.relacionado {
  width: 180px;
  max-height: 300px;
  background-color: #f2f2f2;
 /* border: #383838 3px solid;*/
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.relacionado:hover {
    box-shadow: 2px 2px 5px 0px #383838;
}

.foto-producto {
    border: solid 3px #383838;
    width: 100%;
    height: 100%;
}

.precio-producto {
    font-size: 25px;
    font-weight: 600;
    color: #fbfbfb;
}

.nombre-producto {
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
}
.desc-producto {
    display: none;
}

.descripcion {
    background-color: #8f8f8f;
    border: solid 3px #383838;
    width: 100%;
}


.descripcion .desc-producto {
    display: block;
}




  /*table*/
  @media screen and (min-width: 768px) {
    #galery ul{ 
      display: flex; 
      width: 100vw 
    }
    #galery ul li{  
      width: 22.5%;
      display: flex;
      justify-content: center;
    }
  }
  
  /*Dektop Mini*/
  @media screen and (min-width: 1200px) {
    #galery{
      width: 50vw
    }
    #galery ul{ 
      display: flex;
      width: 75% 
    }
    #product{
      width: 45vw;
    }
#detail{
    align-items: stretch;
}

  }
  
  /*Dektop PC*/
  @media screen and (min-width: 1920px) {
    
  }