main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 20px;
}

#main-sect {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main-sect img {
    max-width: 200px;
    max-height: 200px;
    border: 1px #383838 solid;
    border-radius: 10px;
    margin-right: 45px;
    margin-left: 45px
}

.data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    padding: 3px;
}

.data:hover {
    background-color: #383838;
    color: #fbfbfb;
    border-radius: 10px;
}

.data:hover p {
    border: 2px #fbfbfb solid;
}

.data h3 {
    font-size: 21px;
    padding: 10px;
    width: 150px;
}
.data p {
    padding: 10px;
    padding-left: 20px;
    border: 1px #383838 solid;
    border-radius: 10px;
    width: 250px;
}

#admin-sect {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#admin-sect button {
    margin: 20px;
    padding: 10px;
    border: solid 2px #383838;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px #383838;
}

#admin-sect button:active {
    box-shadow: 0px 0px 0px 0px;
}

#error{
    border: #383838 3px solid;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}
#error h2 {
    font-size: 35px;
    font-weight: 600;
    padding: 20px;
}
#error h3 {
    font-size: 25px;
    padding: 10px;
}
#error button {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 26px;
    background-color: #383838;
    color: #fbfbfb;
}

@media (min-width: 768px) {
    #main-sect {
        flex-direction: row;
    }
    .data p {
        width: 300px;
    }
}