main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 20px;
    text-align: center;
}
main .usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    border: 2px solid #383838;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
}
main .avatar {
    width: 150px;
    height: 150px;
}
#error{
    border: #383838 3px solid;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}
#error h2 {
    font-size: 35px;
    font-weight: 600;
    padding: 20px;
}
#error h3 {
    font-size: 25px;
    padding: 10px;
}
#error button {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 26px;
    background-color: #383838;
    color: #fbfbfb;
}