body {
    background-color: #d2d3cb;
}
#brand-sect {
    background-color: #f2f2f2;
    margin: 30px;
    box-shadow: 1px 1px 2px 2px rgba(38, 38, 38, 0.4);
}

#brand-sect h1 {
    border-bottom: solid 1px rgba(38, 38, 38, 0.4);
    color: #383838;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px;
    font-weight: 600;
}

#galeria-marcas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#galeria-marcas article {
    margin: 20px;
}

.logo-marca {
    width: 150px;
    height: 150px;
    border: 3px #383838 solid;
    border-radius: 50px;

}

.brand-span {
    width: 150px;
    height: 150px;
    background-color: rgba(38, 38, 38, 0.7);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 152px;
    z-index: 2;
}

.brand-name {
    color: #fbfbfb;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 3px black; 
}

main figure {
    max-height: 150px;
    border-radius: 50px;
}

main figure:hover {
    animation-name: sombreado;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

main figure:hover .brand-span {
    animation-name: opacity70to0;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

#add-brand {
    display: flex;
    flex-direction: row;
    background-color: #0172BD;
    border-radius: 50px;
    border: 3px solid rgb(38, 38, 38);
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    color: #f2f2f2;
    text-decoration: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
    box-shadow: 2px 2px 4px rgba(38, 38, 38, 0.4);
}
