body {
    background-color: #d2d3cb;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
main section.sect-principal {
    width: 100%;
    padding-bottom: 20px;
}
main section.sect-principal:hover {
    background-color: #8f8f8f;
}
main h1 {
    font-size: 25px;
    font-weight: 600;
    margin: 20px;
}
main form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border: solid 2px #383838;
    color: #383838;
    box-shadow: 0px 1px 0.7px 1px rgba(38, 38, 38, 0.4);
}
main h2 {
    font-size: 20px;
    margin: 10px;
}
main form textarea {
    width: 236px;
    max-width: 236px;
    min-width: 236px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
}
main section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
main i {
    font-size: 14px;
    font-style: italic;
}
main section#lista-variedad {
    flex-direction: row;
    margin-bottom: 0;
}
main section#lista-variedad section {
    margin-bottom: 0;
    margin: 10px;
}
main section.fecha section {
    flex-direction: row;
}
main section.fecha section input {
    margin: 10px;
}
main #botonera button#submit {
    background-color: rgb(57, 155, 0);
    color: #fbfbfb;
    font-size: 16px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border: #383838 solid 2px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 0px #383838;
}
main #botonera button#active {
    box-shadow: 0px 0px 0px 0px;
}
main #botonera button#reset{
    border: 0;
    margin: 5px;
    color: #383838;
}

@media (min-width: 768px) {
    main form {
        width: 650px;
    }
    .field {
        width: 70%;
    }
    main form textarea {
        width: 70%;
        max-width: 70%;
        min-width: 70%;
    }
}