body {
    max-width: 100vw;
    background-color: #d2d3cb;
}
main {
    background-color: #d2d3cb;
}

#carrousel-categorias {
    margin: 30px;
    height: 200px;
    border: 3px solid #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 2px 2px 5px 1px rgba(38, 38, 38, 0.4);
    position: relative;
}

#carrousel-categorias img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0,2;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#categoria-actual {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    width: 70%;
    text-align: center;
    z-index: 2;
    
}
#categoria-actual h2 {
    font-size: 25px;
    font-weight: 600;
    color: #f2f2f2;
    text-shadow: 2px 2px 5px 1px rgba(38, 38, 38, 0.4);
    
}
#categoria-actual h3 {
    font-size: 20px;
    font-weight: 500;
    color: #f2f2f2;
    text-shadow: 2px 2px 5px 1px rgba(38, 38, 38, 0.4);
}
#slide {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 40px;
    z-index: 2;
}
.fa-chevron-left {
    margin-right: 30%;
    font-size: 20px;
    color: #f2f2f2;
    padding: 5px;
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    box-shadow: 2px 2px 5px 1px rgba(38, 38, 38, 0.4);
}
.fa-chevron-right {
    margin-left: 30%;
    font-size: 20px;
    padding: 5px;
    color: #f2f2f2;
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    box-shadow: 2px 2px 5px 1px rgba(38, 38, 38, 0.4);
}

.fa-chevron-left:active {
    box-shadow: 0px 0px 0px 0px;
}
.fa-chevron-right:active {
    box-shadow: 0px 0px 0px 0px;
}
.fa-circle {
    color: #f2f2f2;
}

.fa-dot-circle {
    color: #f2f2f2;
}

/* Productos recomendados */
section {
    text-align: center;
}

#galeria-recomendados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

h1 {
    border-bottom: solid 1px rgba(38, 38, 38, 0.4);
    color: #383838;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px;
}

.recomendado {
    width: 180px;
    height: 300px;
    background-color: #f2f2f2;
   /* border: #383838 3px solid;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.recomendado:hover {
    animation-name: sombreado;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.foto-producto {
    border: solid 1px rgba(38, 38, 38, 0.1);
    width: 100%;
    height: 100%;
}

.precio-producto {
    font-size: 25px;
    font-weight: 600;
    color: #fbfbfb;
}

.nombre-producto {
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
}
.desc-producto {
    display: none;
}

.descripcion {
    background-color: #00A1F3;
    color: #C7F0C7;
  border: solid 1px rgba(38, 38, 38, 0.4);
  width: 100%;
}

.relacionado {
    width: 180px;
    max-height: 300px;
    background-color: #f2f2f2;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px;
  }
  .relacionado:hover {
    animation-name: sombreado;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
  
  .relacionado figure {
    margin-bottom: -5px;
  }
  
  
  .precio-producto {
      font-size: 22px;
      font-weight: 600;
      color: #383838;
      margin-bottom: 5px;
  }
  
  .nombre-producto {
      font-size: 20px;
      font-weight: 500;
      margin: 5px;
  }
  .desc-producto {
      display: none;
  }
  

  
  .nombre-producto {
    margin: 8px 0;
    color: #fbfbfb;
  }
  
  .nombre-producto a {
    text-decoration: none;
    color: #383838;
    font-size: 20px;
    font-weight: 400;
  }
  
  
  .descripcion .desc-producto {
      display: block;
  }
  
  #description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#prod-sect {
    background-color: #f2f2f2;
    margin: 30px;
    box-shadow: 1px 1px 2px 2px rgba(38, 38, 38, 0.4);
}

#cat-sect {
    background-color: #f2f2f2;
    margin: 30px;
    box-shadow: 1px 1px 2px 2px rgba(38, 38, 38, 0.4);
    padding-bottom: 20px;
}

/* Agregados para el filtro */

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#list {
    width: 80vw;
}
#filter {
    width: 20vw;
    padding: 20px;
    border: #383838 solid 2px;
    background-color: #fbfbfb;
}
#filter h1 {
    padding-top: 0px;
}
#filter h2 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}

#filter form div {
    display: flex;
    flex-direction: row;
}

#filter input {
    width: 18px;
    height: 18px;
    margin: 4px;
}
#filter p {
    font-size: 18px;
    margin: 4px;
}

#filter .product-filter button {
    background-color: #0172BD;
    color: #f2f2f2;
    border: solid 1px rgba(38, 38, 38, 0.4);
    box-shadow: 1px 1px 2px 2px rgba(38, 38, 38, 0.4);
    padding: 8px 25px;
    margin: 9px;
    font-size: 18px;
}
#filter .reset-filter button {
    background-color: #f2f2f2;
    border: none;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #383838;
}


#add-product {
    display: flex;
    flex-direction: row;
    background-color: #0172BD;
    border-radius: 50px;
    border: 3px solid rgb(38, 38, 38);
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    color: #f2f2f2;
    text-decoration: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
    box-shadow: 2px 2px 4px rgba(38, 38, 38, 0.4);
}

.relacionado {
    width: 180px;
    max-height: 300px;
    background-color: #f2f2f2;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px;
  }
  .relacionado:hover {
    animation-name: sombreado;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
  
  .relacionado figure {
    margin-bottom: -5px;
  }
  
  .precio-producto {
      font-size: 22px;
      font-weight: 600;
      color: #383838;
      margin-bottom: 5px;
  }
  
  .nombre-producto {
      font-size: 20px;
      font-weight: 500;
      margin: 5px;
  }
  .desc-producto {
      display: none;
  }
  
  .nombre-producto {
    margin: 8px 0;
  }
  
  .nombre-producto a {
    text-decoration: none;
    color: #383838;
    font-size: 20px;
    font-weight: 400;
  }
  
  
  .descripcion .desc-producto {
      display: block;
  }
  
  #description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#list-products{
    width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    align-items: start;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 .5rem 0 rgba(100,100,100,.3);
}

#list-products article{
    display: flex;
    height: 40vh;
    margin-bottom: 2.5vh;
    flex-wrap: wrap;
    box-shadow: 0 0 .5rem 0 rgba(100,100,100,.3);
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 75%;
    padding-right: 1rem;
    
}

#list-products article h2{
    color: hsl(210,75%,50%);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    padding-left: 0rem;
}

#list-products article a{
    background-color: hsl(210,75%,50%);
    color: rgb(250,250,250);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    border-radius: .25rem;
}

#list-products article figure{
    height: 20vh;
}

#list-products article figure img{
    max-height: 100%;
} 

@media (max-width: 433px) {
    #galeria-recomendados {
        width: 100vw;
    }
    
    .recomendado img {
        width: 180px;
    }
    


}

@media (min-width: 768px) {
    div#categorias article {
        width: 180px;
        height: 180px;
        border-radius: 100px;
    }
}
