<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logotoolbox.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title %> </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/default/normalize.css">
    <link rel="stylesheet" href="/css/default/reset.css">
    <link rel="stylesheet" href="/css/default/animations.css">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/footer.css">
    <link rel="stylesheet" href="/css/<%= viewCat %>/<%= style %>">
</head>