body {
    max-width: 100vw;
    background-color: #d2d3cb;
}
main {
    background-color: #d2d3cb;
}

#carrousel-categorias {
    margin: 30px;
    height: 200px;
    border: 3px solid #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 2px 2px 5px 1px rgba(38, 38, 38, 0.4);
    position: relative;
}

#carrousel-categorias img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0,2;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#categoria-actual {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    width: 70%;
    text-align: center;
    z-index: 2;
    
}
#categoria-actual h2 {
    font-size: 25px;
    font-weight: 600;
    color: #f2f2f2;
    text-shadow: 2px 2px 5px 1px rgba(38, 38, 38, 0.4);
    
}
#categoria-actual h3 {
    font-size: 20px;
    font-weight: 500;
    color: #f2f2f2;
    text-shadow: 2px 2px 5px 1px rgba(38, 38, 38, 0.4);
}
#slide {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 40px;
    z-index: 2;
}
.fa-chevron-left {
    margin-right: 30%;
    font-size: 20px;
    color: #f2f2f2;
    padding: 5px;
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    box-shadow: 2px 2px 5px 1px rgba(38, 38, 38, 0.4);
}
.fa-chevron-right {
    margin-left: 30%;
    font-size: 20px;
    padding: 5px;
    color: #f2f2f2;
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    box-shadow: 2px 2px 5px 1px rgba(38, 38, 38, 0.4);
}

.fa-chevron-left:active {
    box-shadow: 0px 0px 0px 0px;
}
.fa-chevron-right:active {
    box-shadow: 0px 0px 0px 0px;
}
.fa-circle {
    color: #f2f2f2;
}

.fa-dot-circle {
    color: #f2f2f2;
}

/* Productos recomendados */
section {
    text-align: center;
}

#galeria-recomendados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

h1 {
    border-bottom: solid 1px rgba(38, 38, 38, 0.4);
    color: #383838;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px;
}

.recomendado {
    width: 180px;
    height: 300px;
    background-color: #f2f2f2;
   /* border: #383838 3px solid;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.recomendado:hover {
    animation-name: sombreado;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.foto-producto {
    border: solid 1px rgba(38, 38, 38, 0.1);
    width: 100%;
    height: 100%;
}

.precio-producto {
    font-size: 25px;
    font-weight: 600;
    color: #fbfbfb;
}

.nombre-producto {
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
}
.desc-producto {
    display: none;
}

.descripcion {
    background-color: #00A1F3;
    color: #C7F0C7;
  border: solid 1px rgba(38, 38, 38, 0.4);
  width: 100%;
}


/* Categorias */
#categorias {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
}

div#categorias article {
    color: #C7F0C7;
    border: rgba(38, 38, 38, 0.4) solid 1px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
article a {
    text-decoration: none;
    color: #383838;
    font-size: 20px;
}
#categorias article a {
    text-decoration: none;
    color: #383838;
    font-weight: 600;
    font-size: 22px;
}
#categorias article p {
    text-decoration: none;
    color: #C7F0C7;
    font-size: 20px;
}

#categorias article:hover {
    background-color: #0172BD;
    box-shadow: 0px 0px 0px 0px;
    
}
#categorias article:hover a {
    font-size: 20px;
    color: #fbfbfb;
}/*
#categorias article:hover p {
    font-size: 20px;
    color: #fbfbfb;
}*/
#categorias article:hover .fas {
    color: #fbfbfb;
}


#categorias article {
    display: flex;
    flex-direction: column;
}

#categorias .fas {
    font-size: 30px;
    color: #0172BD;
}

.relacionado {
    width: 180px;
    max-height: 300px;
    background-color: #f2f2f2;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px;
  }
  .relacionado:hover {
    animation-name: sombreado;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
  
  .relacionado figure {
    margin-bottom: -5px;
  }
  
  
  .precio-producto {
      font-size: 22px;
      font-weight: 600;
      color: #383838;
      margin-bottom: 5px;
  }
  
  .nombre-producto {
      font-size: 20px;
      font-weight: 500;
      margin: 5px;
  }
  .desc-producto {
      display: none;
  }
  

  
  .nombre-producto {
    margin: 8px 0;
    color: #fbfbfb;
  }
  
  .nombre-producto a {
    text-decoration: none;
    color: #383838;
    font-size: 20px;
    font-weight: 400;
  }
  
  
  .descripcion .desc-producto {
      display: block;
  }
  
  #description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#prod-sect {
    background-color: #f2f2f2;
    margin: 30px;
    box-shadow: 1px 1px 2px 2px rgba(38, 38, 38, 0.4);
}
 
#cat-sect {
    background-color: #f2f2f2;
    margin: 30px;
    box-shadow: 1px 1px 2px 2px rgba(38, 38, 38, 0.4);
    padding-bottom: 20px;
}

@media (max-width: 433px) {
    #galeria-recomendados {
        width: 100vw;
    }
    .recomendado {
        height: 180px;
    }
    .recomendado img {
        height: 180px;
        width: 180px;
    }
    .recomendado:active img {
        display: none;
    }
    .descripcion {
        display: none;
    }
    .recomendado:active .descripcion {
        display: block;
    }
    .recomendado:active {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }


}

@media (min-width: 768px) {
    div#categorias article {
        width: 180px;
        height: 180px;
    }
}
