body {
  background-color: #d2d3cb;
}
main {
  margin: 30px;
}
  #login-main {
    display: flex;
    background-color: #fbfbfb;
    height: 60vh;
    }
  .login {
    display: flex;
    width: 100vw;
    max-width: 400px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 5px;
    border: solid 2px #383838;
    height: 60vh;
  }
  .titulo-login{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  }
  #loginForm{
  border-radius: 10px;
  border: none;
  width: 100%;
  padding: 18px;
  margin: 15px 0px;
  justify-content: center;
  }
  main input{
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0 px;
    width: 100%;
    border: solid 1px #383838;
    margin-bottom: 10px;
  }
/*   #botones {
    display: flex;
    margin: 2px;
    width: 80%;
    text-align: center;
    height: auto;
    line-height: inherit;
    padding: 5px;
    justify-content: center;
  } */
  #botones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #botones button#submit {
    background-color: #0172BD;
    color: #fbfbfb;
    font-size: 16px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border: #383838 solid 2px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 0px #383838;
  }
  
  #creaCuenta{
    display: flex;
    background-color: #f2f2f2;
    border: solid 2px #383838;  
    padding: 5px;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: auto;
    max-width: 400px;
    height: 60vh;
   /*  justify-content: space-between; */
    }
  #creaCuenta a {
    background-color: #0172BD;
    color: #fbfbfb;
    font-size: 16px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border: #383838 solid 2px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 0px #383838;

  }
  .titulo-crea{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  }

  .foto-producto figure{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .foto-producto img{
/*     width: 50%;
    height: 50%; */
    max-height: 150px;
    max-width: 130px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
#recordar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#recordar input {
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
  width: 50px;
  border: 0px;
  margin-bottom: 0px;
}

  @media (min-width: 769px) {
    main{
    display: flex;  
  }
  /* #login-main{
    margin: auto;
  } */
  }
  
    @media (max-width: 320px) {
    #creaCuenta{
    border:transparent
  }
    }

    /* MEDIA QUERIE PARA TABLET SUBE SECCION POR QUE REGISTRARSE */
@media (min-width: 768px) {
  main{
  display: flex;
  margin-left: 100px;
  margin-right: 100px;  
  justify-content: center;
}
/* #login-main{
  margin: auto;
} */
#creaCuenta{
  width: 300px;
  margin-left: 0px;
  margin-right: 0px;
}
.login {
  width: 500px;
}
}
/* MEDIA QUERIE PARA DESKTOP SUBE SECCION POR QUE REGISTRARSE Y JUNTA A FORM */
@media (min-width:1024px){
  #creaCuenta{
    max-width: 100vw;
}
#login-main{
  max-width: 100vw;
}
}

  
  
  
  
  
  
  
  
  
  
    
  
  
  /* Formato para la seccion Por que Registrarse?*/
  
  /* #whyRegister{
    background-color: #f2f2f2;
    border: solid 3px #383838;  
    width: 380px;
    height: 420px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  /* #whyRegister h3{
  font-weight: bold;
  text-align: justify; 
  }
  #whyRegister li{
    padding: 20px;
   }
   #whyRegister figure{
     display: flex;
     justify-content: center;
   }
  
  /* Formato para el formulario*/
  
  /* #registerForm{
      background: #f2f2f2; 
      padding: 30px;
      width: 500px;
  
      word-wrap: break-word;
      min-height: 420px;
      display: flex;
      flex-direction: column;
      align-items: center;
     border-top: solid 3px #383838 ;
     border-right: solid 0.5px #383838;
     border-bottom: solid 3px #383838;
     border-left: solid 3px #383838;
  } 
  
  #registerForm h3{
    font-weight: bold;
    text-align: center;
  } 
  
  /* Formato para el button REGISTRARME*/
  
  /* button{
      background: #f2f2f2;
      border: solid 1px #383838 ;
      margin: 2px;
      width: 90%;
      text-align: center;
      height: auto;
      line-height: inherit;
      padding: 10px;
  } */
  
  
  /* Para @media desktop
  #registerForm{
    background: #f2f2f2; 
    padding: 30px;
    width: 500px;
    float: left;
    word-wrap: break-word;
    min-height: 420px; 
    
    
    
  #whyRegister{
    background-color: #f2f2f2;
    border: solid 3px #383838;  
    width: 380px;
    height: 420px;
    float: right;
    padding: 30px;
  }
    
    */
  























/*
#login-main {
    width: 880px;
    margin: auto;
    padding: 40px 0;
  }
  /* Formato para la seccion main que contiene Form y Por que registrarse?
  
  #register-main{
    background-color: #f5f7fa;
    box-shadow: 0 1px 3px rgb(0, 0, 0 /10%);
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  
  /* Formato para la seccion Por que Registrarse?
  
  #whyRegister{
    background-color: #fbfbfb;
    border: solid 3px #383838;  
    width: 380px;
    height: 420px;
    float: right;
    padding: 30px;
  }
  
  #whyRegister h3{
  font-weight: bold;
  text-align: justify;
  }
  #whyRegister li{
    padding: 20px;
   }
   #whyRegister figure{
     display: flex;
     justify-content: center;
   }
  
  /* Formato para el formulario
  
  #loginForm{
      background: #f2f2f2; 
      padding: 30px;
      width: 500px;
      float: left;
      word-wrap: break-word;
      min-height: 420px;
    /* border: solid 3px #383838;
     border-top: solid 3px #383838 ;
     border-right: solid 0.5px #383838;
     border-bottom: solid 3px #383838;
     border-left: solid 3px #383838;
  }
  
  #loginForm h3{
    font-weight: bold;
    text-align: center;
  } 
  
  /* Formato para el button REGISTRARME
  
  button{
      background: #f2f2f2;
      border: solid 1px #383838 ;
      margin: 2px;
      width: 93%;
      text-align: center;
      height: auto;
      line-height: inherit;
      padding: 10px;
  } */
  
  