<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %> 
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <h1>Creación del producto</h1>
            <form action="">
                <section class="sect-principal">
                    <h2>Nombre del producto</h2>
                    <input class="field" type="text" placeholder="Martillo" required>
                </section>
                <section class="sect-principal">
                    <h2>Descripción</h2>
                    <textarea class="field" id="" cols="30" rows="10" required></textarea>
                </section>
                <section id="variedad" class="sect-principal">
                    <h2>¿Posee variedad?</h2>
                        <section id="lista-variedad">
                            <section class="campo-variedad">
                                <input type="checkbox" name="modelo" id="">
                                <p>Modelo</p>
                            </section>
                            <section class="campo-variedad">
                                <input type="checkbox" name="color" id="">
                                <p>Color</p>
                            </section>
                            <section class="campo-variedad">
                                <input type="checkbox" name="tamaño" id="">
                                <p>Tamaño</p>
                            </section>
                        </section>
                    <i class="aclaracion">(Podría tratarse de otros modelos, colores, etc.)</i>
                </section>
                <section class="sect-principal">
                    <h2>Precio por unidad</h2>
                    <input class="field" type="number" placeholder="12.345" required>
                    <i class="aclaracion">(Precio en ARS)</i>
                </section>
                <section class="sect-principal">
                    <h2>Categoría</h2>
                    <select name="categoria">
                        <option value="ferreteria">Ferretería</option>
                        <option value="pintureria">Pinturería</option>
                        <option value="plomeria">Plomería</option>
                        <option value="jardineria">Jardinería</option>
                        <option value="maquinaria">Maquinaria</option>
                    </select>
                </section>
                <section class="sect-principal">
                    <h2>¿Está disponible?</h2>
                    <input type="checkbox">
                </section>
                <section class="fecha sect-principal">
                    <h2>Fecha de inicio de la publicación</h2>
                    <section>
                        <input type="checkbox" name="" id="">
                        <input type="date" name="" id="">
                    </section>
                </section>
                <section class="fecha sect-principal">
                    <h2>Fecha de final de la publicación</h2>
                    <section>
                        <input type="checkbox" name="" id="">
                        <input type="date" name="" id="">
                    </section>
                </section>
                <section id="botonera">
                    <button type="submit" id="submit">Enviar</button>
                    <button type="reset" id="reset">Reiniciar campos</button>
                </section>
            </form>
        </main>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>