<!-- <!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %> 
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <h1>Creación del producto</h1>
            <form action="">
                <label for="name">Nombre del producto</label>
                <input name="name" type="text" placeholder="Martillo" required>
                <label for="desc">Descripción</label>
                <textarea name="desc" id="" cols="30" rows="10" required></textarea>
                <div id="variedad">
                    <label for="">Posee variedad?</label>
                        <div id="lista-variedad">
                            <div class="campo-variedad">
                                <input type="checkbox" name="modelo" id="">
                                <p>Modelo</p>
                            </div>
                            <div class="campo-variedad">
                                <input type="checkbox" name="color" id="">
                                <p>Color</p>
                            </div>
                            <div class="campo-variedad">
                                <input type="checkbox" name="tamaño" id="">
                                <p>Tamaño</p>
                            </div>
                        </div>
                    <i class="aclaracion">(Podría tratarse de otros modelos, colores, etc.)</i>
                </div>
                <label for="disponible">¿Está disponible?</label>
                <input type="checkbox">
                <label for="precio">Precio por unidad</label>
                <input type="number" placeholder="12.345">
                <i class="aclaracion">(Precio en ARS)</i>
                <div class="nueva-categoria">
                    <label for="categoria">Categoría</label>
                    <select name="categoria">
                        <option value="ferreteria">Ferretería</option>
                        <option value="pintureria">Pinturería</option>
                        <option value="plomeria">Plomería</option>
                        <option value="jardineria">Jardinería</option>
                        <option value="maquinaria">Maquinaria</option>
                    </select>
                </div>
                <p>Fecha de inicio de la publicación</p>
                <div>
                    <input type="checkbox" name="" id="">
                    <input type="date" name="" id="">
                </div>
                <p>Fecha de final de la publicación</p>
                <div>
                    <input type="checkbox" name="" id="">
                    <input type="date" name="" id="">
                </div>
                <div id="botonera">
                    <button></button>
                    <button></button>
                </div>
            </form>
        </main>
        <%- include("./partials/footer.ejs") %>
    </body>
</html> -->