<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %> 
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <h1>Edicion del producto</h1>
            <form action="" method="POST" enctype="multipart/form-data">
                <section class ='sect-search'>
                    <h2>Buscar producto</h2>
                    <label for="p-search">Escriba el nombre del producto a editar:</label>
                    <input type="search" id="p-search" name="p-search">
                    <input type="submit">
                </section>
                <section class="sect-principal">
                    <h2>Editar Nombre del producto</h2>
                    <input class="field" type="text" placeholder="Martillo" required>
                </section>
                <section class="sect-principal">
                    <h2>Editar Descripción</h2>
                    <textarea class="field" id="" cols="30" rows="10" required></textarea>
                </section>
                <section class="sect-principal">
                    <h2>Editar Precio por unidad</h2>
                    <input class="field" type="number" placeholder="12.345" required>
                    <i class="aclaracion">(Precio en ARS)</i>
                </section>
                <section class="sect-principal">
                    <h2>Categoría del Producto</h2>
                    <select name="categoria">
                        <option value="ferreteria">Ferretería</option>
                        <option value="pintureria">Pinturería</option>
                        <option value="plomeria">Plomería</option>
                        <option value="jardineria">Jardinería</option>
                        <option value="maquinaria">Maquinaria</option>
                    </select>
                </section>
                <section class="sect-principal">
                    <h2>¿Está disponible?</h2>
                    <input type="checkbox" id="cbox-yes" name="cbox-yes" value="checkbox-si">
                    <label for="cbox-yes"> SI</label><br>
                    <input type="checkbox" id="cbox-no" name="cbox-no" value="checkbox-no">
                    <label for="cbox-no"> NO</label><br>
                </section>
                </section>
                <section id="botonera">
                    <button type="submit" id="submit">Enviar</button>
                    <button type="reset" id="reset">Reiniciar campos</button>
                </section>
            </form>
        </main>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>