<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inicio</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <header>
            <nav id="barra-principal">
                <a id="mobile-burger"><i class="fas fa-bars"></i></a>
                <img href="" src="/img/Logo.png" alt="Toolbox">
                <form class="formulario-busqueda" action="#" method="get">
                    <div class="barra-busqueda">
                        <select name="busqueda" id="categoria">
                            <option value="ferreteria">Ferretería</option>
                            <option value="pintureria">Pinturería</option>
                            <option value="plomeria">Plomería</option>
                            <option value="jardineria">Jardinería</option>
                            <option value="maquinaria">Maquinaria</option>
                        </select>
                        <input id="linea" type="search" placeholder="¿Que buscas?">
                        <button id="buscar" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                <a id="carrito"><i class="fas fa-shopping-cart"></i></a>
            </nav>
            <div id="barra-menu">
                <nav id="navegacion">
                    <a href="">Página principal</a>
                    <a href="/views/productDetails.html/">Productos</a>
                    <a href="">Marcas</a>
                    <a href="">Sobre nosotros</a>
                </nav>
                <nav id="sesion">
                    <a href="">Iniciar sesión</a>
                    <p>o</p>
                    <a href="">Registrarse</a>
                </nav>
            </div>
        </header>
        <main>
            <section>
                <div id="carrousel-categorias">
                    <div id="slide">
                        <i class="fa fa-chevron-left"></i>
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <div id="categoria-actual">
                        <p>Jardinería</p>
                        <p>Mira toda nuestra variedad de artículos para el jardín</p>
                        <div id="dots">
                            <i class="far fa-circle"></i><i class="far fa-circle"></i><i class="far fa-dot-circle"></i><i class="far fa-circle"></i><i class="far fa-circle"></i>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h1>Productos recomendados</h1>
                <div id="galeria-recomendados">
                    <article class="recomendado">
                        <img class="foto-producto" src="" alt="">
                        <div class="descripcion">
                            <p class="precio-producto">Precio</p>
                            <p class="nombre-producto">Nombre</p>
                        </div>
                    </article>
                    <article class="recomendado">
                        <img class="foto-producto" src="" alt="">
                        <div class="descripcion">
                            <p class="precio-producto">Precio</p>
                            <p class="nombre-producto">Nombre</p>
                        </div>
                    </article>
                    <article class="recomendado">
                        <img class="foto-producto" src="" alt="">
                        <div class="descripcion">
                            <p class="precio-producto">Precio</p>
                            <p class="nombre-producto">Nombre</p>
                        </div>
                    </article>
                    <article class="recomendado">
                        <img class="foto-producto" src="" alt="">
                        <div class="descripcion">
                            <p class="precio-producto">Precio</p>
                            <p class="nombre-producto">Nombre</p>
                        </div>
                    </article>
                    <article class="recomendado">
                        <img class="foto-producto" src="" alt="">
                        <div class="descripcion">
                            <p class="precio-producto">Precio</p>
                            <p class="nombre-producto">Nombre</p>
                        </div>
                    </article>
                    <article class="recomendado">
                        <img class="foto-producto" src="" alt="">
                        <div class="descripcion">
                            <p class="precio-producto">Precio</p>
                            <p class="nombre-producto">Nombre</p>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <h1>Nuestras categorías</h1>
                <div id="categorias">
                    <article class="ferreteria">
                        <a class="titulo">Ferretería</a>
                    </article>
                    <article class="pintureria">
                        <a class="titulo">Pinturería</a>
                    </article>
                    <article class="plomeria">
                        <a class="titulo">Plomería</a>
                    </article>
                    <article class="jardineria">
                        <a class="titulo">Jardinería</a>
                    </article>
                    <article class="maquinaria">
                        <a class="titulo">Maquinaria</a>
                    </article>
                </div>
            </section>
        </main>
        <footer>
            
        </footer>
    </body>
</html>