<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ingreso</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <header>
            
        </header>
        <main>   
    <section id =login-main>  
            
        <section id = loginForm>
            
                <form action="#.html" method="POST">
            
                <h3>Login</h3>
                <br>
                <br>
        
                <input type="email" name="email" placeholder="E-Mail">
                <input type="password" name="password" placeholder="Contraseña"><br><br>
                
                <button type="submit">Ingresar</button><br><br>
            
                <label>Olvidaste tu Contraseña?</label> <a href = "/register"> Click Aqui</a>
                <br>
                <br>
                </form> 
            </section>
            
            
            <section id="whyRegister">
                <h3>Nuevos Clientes</h3>
                <br>
                <button type="submit">Registrarse</button><br><br>
            
            <section id=imgProducto    
            
            <figure>	
                <img src="#" alt="Foto de producto">
            </figure>
            
            </section>

            </section>
            
    </section>
            <main>
                    </main>
        <footer>
            
        </footer>
    </body>
</html>