<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %> 
    <body>
        <%- include("./partials/header.ejs") %>
        <main>   
<section id =login-main>  
    <form class="login"action="" method="POST">
        <p class="titulo-login">Crea tu Cuenta</p>

<section id = loginForm>
        <input type="email" id="email" name="email" placeholder="E-Mail:" required>
        <input type="password" id="password" name="password" placeholder="Contraseña:" required>
</section>
              
<section id="botones">
        <button type="submit">Registrarme</button>
        <button type="button">Olvide mi Contraseña</button>
</section>  
            
    </form> 
</section>
            
<section id="creaCuenta">
        <p class="titulo-crea">Crea tu Cuenta</p><br>
        <button type="submit">Registrarse</button><br><br>
            
            <div class="foto-producto">
            <figure>	
                <img src="/img/fotoproducto.jpg" alt="Foto de producto">
            </figure>
            </div>
</section>
                    
</main>

<%- include("./partials/footer.ejs") %>
    </body>
</html>