<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %> 
    <body>
        <%- include("./partials/header.ejs") %>

  <body>
    <main id="detail" class="flex-container">
        <section id="galery" class="flex-container">
          <figure><img src="/img/fotoproducto.jpg" alt="imagen del producto"></figure>
          <ul class="flex-container">
            <li>
              <figure><img src="/img/fotoproducto.jpg" alt=""></figure>
            </li>
            <li>
              <figure><img src="/img/fotoproducto.jpg" alt=""></figure>
            </li>
            <li>
              <figure><img src="/img/fotoproducto.jpg" alt=""></figure>
            </li>
            <li>
              <figure><img src="/img/fotoproducto.jpg" alt=""></figure>
            </li>
          </ul>
        </section>
  
        <article class="flex-container" id="product">
          <h2>Nombre del producto</h2>
          <p class="precio-prod">$4000</p>
          <section id="puntacion" class="flex-container">
            <ul class="flex-container">
              <li><i class="far fa-star"></i></li>
              <li><i class="far fa-star"></i></li>
              <li><i class="far fa-star"></i></li>
              <li><i class="far fa-star"></i></li>
            </ul>
            <p>15</p>
          </section>
          <section id="description" class="flex-container">
            <h3>Descripción del Producto</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus molestias sapiente explicabo ad quidem natus nam architecto praesentium incidunt quisquam, unde repellat ipsam iusto. Itaque debitis at ratione qui ducimus, recusandae laborum. Quod obcaecati earum dolorum modi officia, facilis quasi laboriosam voluptatum nam blanditiis accusamus eveniet unde cupiditate quaerat deleniti.
            </p>
          </section>
          <form action="" method="post" class="flex-container">
            <fieldset class="flex-container form-control">
              <select name="variante" id="variante">
              <label>Variante</label>
                <option value="1">Variedad 1</option>
               <option value="2">Variedad 2</option>
              </select>
              <select name="cantidad" id="cantidad">
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
               <option value="6">6</option>
               <option value="7">7</option>
               <option value="8">8</option>
               <option value="9">9</option>
              </select>
            </fieldset>
            <fieldset class="flex-container form-control">
              <button type="submit">
                Agregar al Carrito
                <i class="fas fa-shopping-cart"></i>
              </button>
            </fieldset>
          </form>
        </article>
      </main>

      <section>
        <h1>Productos relacionados</h1>
        <div id="galeria-recomendados">
            <article class="relacionado">
                <img class="foto-producto" src="/img/fotoproducto.jpg" alt="">
                <div class="descripcion">
                    <p class="precio-producto">$Precio</p>
                    <p class="nombre-producto">Nombre producto</p>
                    <p class="desc-producto">Descripcion</p>
                </div>
            </article>
            
            <article class="relacionado">
              <img class="foto-producto" src="/img/fotoproducto.jpg" alt="">
              <div class="descripcion">
                  <p class="precio-producto">$Precio</p>
                  <p class="nombre-producto">Nombre producto</p>
                  <p class="desc-producto">Descripcion</p>
              </div>
          </article>

          <article class="relacionado">
            <img class="foto-producto" src="/img/fotoproducto.jpg" alt="">
            <div class="descripcion">
                <p class="precio-producto">$Precio</p>
                <p class="nombre-producto">Nombre producto</p>
                <p class="desc-producto">Descripcion</p>
            </div>
        </article>


        </div>
    </section>

    <section>
      <h1>Otros productos que te pueden 
        interesar</h1>
      <div id="galeria-recomendados">
          <article class="relacionado">
              <img class="foto-producto" src="/img/fotoproducto.jpg" alt="">
              <div class="descripcion">
                  <p class="precio-producto">$Precio</p>
                  <p class="nombre-producto">Nombre producto</p>
                  <p class="desc-producto">Descripcion</p>
              </div>
          </article>
          
          <article class="relacionado">
            <img class="foto-producto" src="/img/fotoproducto.jpg" alt="">
            <div class="descripcion">
                <p class="precio-producto">$Precio</p>
                <p class="nombre-producto">Nombre producto</p>
                <p class="desc-producto">Descripcion</p>
            </div>
        </article>

        <article class="relacionado">
          <img class="foto-producto" src="/img/fotoproducto.jpg" alt="">
          <div class="descripcion">
              <p class="precio-producto">$Precio</p>
              <p class="nombre-producto">Nombre producto</p>
              <p class="desc-producto">Descripcion</p>
          </div>
      </article>


      </div>
  </section>


  <%- include("./partials/footer.ejs") %>
  </body>
</html>
