<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registro</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <header>
           
             
            </header>
<main>   
<section id =register-main>  

<section id = registerForm>

    <form action="#.html" method="POST">

    <h3>Crea tu Cuenta</h3>
    <br>
    <br>

    <input type="text" name="name" placeholder="Nombre">
    <input type="text" name="surname" placeholder="Apellido"><br><br>
    <input type="email" name="email" placeholder="E-Mail">
    <input type="password" name="password" placeholder="Contraseña"><br><br>
    <input type="tel" name="tel" placeholder="Telefono"><br><br>
    
    <button type="submit">Registrarme</button><br><br>

    <label>Ya sos Cliente?</label> <a href = "/login"> Click Aqui</a>
    <br>
    <br>
    </form> 
</section>


<section id="whyRegister">
    <h3>Por que Registrarse?</h3>
    <br>

    <ul>
        <li>Respuesta mas rapida</li>
        <li>Cotizacion preferencial</li>
        <li>Asistencia personalizada</li>
    </ul>
<figure>	
    <img src="#" alt="Foto de producto">
</figure>

</section>

</section>
<main>
        </main>
        <footer>
            
        </footer>
    </body>
</html>