<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registro</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <header>
            <nav id="barra-principal">
                <a id="mobile-burger"><i class="fas fa-bars"></i></a>
                <img href="" src="/img/Logo.png" alt="Toolbox">
                <form class="formulario-busqueda" action="#" method="get">
                    <div class="barra-busqueda">
                        <select name="busqueda" id="categoria">
                            <option value="ferreteria">Ferretería</option>
                            <option value="pintureria">Pinturería</option>
                            <option value="plomeria">Plomería</option>
                            <option value="jardineria">Jardinería</option>
                            <option value="maquinaria">Maquinaria</option>
                        </select>
                        <input id="linea" type="search" placeholder="¿Que buscas?">
                        <button id="buscar" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                <a id="carrito"><i class="fas fa-shopping-cart"></i></a>
            </nav>
            <div id="barra-menu">
                <nav id="navegacion">
                    <a href="">Página principal</a>
                    <a href="/productDetails/">Productos</a>
                    <a href="">Marcas</a>
                    <a href="">Sobre nosotros</a>
                </nav>
                <nav id="sesion">
                    <a href="">Iniciar sesión</a>
                    <p>o</p>
                    <a href="">Registrarse</a>
                </nav>
            </div>          
            </header>
<main>   
<section id =register-main>  
    <form class="register"action="" method="POST">
        <p class="titulo-register">Crea tu Cuenta</p>
<section id = registerForm>
    <input type="text" id="name" name="name" placeholder="Nombre:" required >
    <input type="text" id="surname" name="surname" placeholder="Apellido:" required>
    <input type="email" id="email" name="email" placeholder="E-Mail:" required>
    <input type="password" id="password" name="password" placeholder="Contraseña:" required>
    <input type="tel" id="tel" name="tel" placeholder="Telefono:" required>
  </section>
  
  <section id="botones">
    <button type="submit">Registrarme</button>
    <button type="button">Ya estoy registrado</button>
  </section>  

    </form> 
</section>


<section id="whyRegister">
    <p class="titulo-why">Por que Registrarse?</p><br><br>
  
<section id="lista-whyRegister">
    <ul>
        <li>
        <a id="resp-fast"><i class="fas fa-shipping-fast"></i></a>
            Respuesta mas rapida
        </li><br>
        <li>
        <a id="coti-prefe"><i class="fas fa-angle-double-up"></i></a>  
            Cotizacion preferencial
        </li><br>
        <li>
        <a id="asist-person"><i class="fas fa-hands-helping"></i></a>
            Asistencia personalizada
        </li>
    </ul>

</section>

<div class="foto-producto">
<figure>	
    <img src="/img/fotoproducto.jpg" alt="Foto de producto">
</figure>
</div>

</section>

<main>
        </main>
        <footer>
            
        </footer>
    </body>
</html>