<!DOCTYPE html>
<html>
    <%- include("./partials/head.ejs") %> 
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <section>
                <a href="/categories/4">
                    <div id="carrousel-categorias">
                        <img src="/img/jardineria-banner.jpg" alt="">
                        <!-- <div id="slide">
                            <i class="fa fa-chevron-left"></i>
                            <i class="fa fa-chevron-right"></i>
                        </div> -->
                        <div id="categoria-actual">
                            <h2>Jardinería</h2>
                            <h3>Mira toda nuestra variedad de artículos para el jardín</h3>
                            <div id="dots">
                                <i class="far fa-circle"></i><i class="far fa-circle"></i><i class="far fa-dot-circle"></i><i class="far fa-circle"></i><i class="far fa-circle"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            <section id="prod-sect">
                <h1>Productos recomendados</h1>
                <div id="galeria-recomendados">
                    <article class="recomendado">
                        <img class="foto-producto" src="/img/products/alicate-7-bremen.jpg" alt="">
                        <div class="descripcion">
                            <a href="/product/1"><p class="nombre-producto">Alicate Bremen</p></a>
                            <p class="precio-producto">$954,27</p>
                        </div>
                    </article>
                    <article class="recomendado">
                        <img class="foto-producto" src="/img/products/balde-plastico.jpg" alt="">
                        <div class="descripcion">
                            <a href="/product/2"><p class="nombre-producto">Balde reforzado</p></a>
                            <p class="precio-producto">$181,66</p>
                        </div>
                    </article>
                    <article class="recomendado">
                        <img class="foto-producto" src="/img/products/caja-plastica.jpg" alt="">
                        <div class="descripcion">
                            <a href="/product/3"><p class="nombre-producto">Caja de herramientas</p></a>
                            <p class="precio-producto">$3.696,87</p>
                        </div>
                    </article>
                    <article class="recomendado">
                        <img class="foto-producto" src="/img/products/calibre-metalico.jpg" alt="">
                        <div class="descripcion">
                            <a href="/product/4"><p class="nombre-producto">Calibre metálico</p></a>
                            <p class="precio-producto">$1.462,74</p>
                        </div>
                    </article>
                    <article class="recomendado">
                        <img class="foto-producto" src="/img/products/candado-dubai-32mm.jpg" alt="">
                        <div class="descripcion">
                            <a href="/product/5"><p class="nombre-producto">Candado 32mm</p></a>
                            <p class="precio-producto">$309,30</p>
                        </div>
                    </article>
                    <article class="recomendado">
                        <img class="foto-producto" src="/img/products/cinta-metrica-3m-bremen.jpg" alt="">
                        <div class="descripcion">
                            <a href="/product/6"><p class="nombre-producto">Cinta métrica</p></a>
                            <p class="precio-producto">$1.152,11</p>
                        </div>
                    </article>
                </div>
            </section>
            <section id="cat-sect">
                <h1>Nuestras categorías</h1>
                <div id="categorias">
                    <a href="/categories/1">
                        <article class="ferreteria">
                            <i class="fas fa-hammer"></i>
                            <p href="" class="titulo">Ferretería</p>
                        </article>
                    </a>
                    <a href="/categories/2">
                        <article class="pintureria">
                            <i class="fas fa-paint-roller"></i>
                            <p class="titulo">Pinturería</p>
                        </article>
                    </a>
                    <a href="/categories/3">
                        <article class="plomeria">
                            <i class="fas fa-sink"></i>
                            <p href="" class="titulo">Plomería</p>
                        </article>
                    </a>
                    <a href="/categories/4">
                        <article class="jardineria">
                            <i class="fas fa-fan"></i>
                            <p href="" class="titulo">Jardinería</p>
                        </article>
                    </a>
                    <a href="/categories/5">
                        <article class="maquinaria">
                            <i class="fas fa-snowplow"></i>
                            <p href="" class="titulo">Maquinaria</p>
                        </article>
                    </a>
                </div>
            </section>
        </main>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>