<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %> 
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <h1>Creación del producto</h1>
            <form method="POST" action="/create">
                <section class="sect-principal">
                    <h2>Nombre del producto</h2>
                    <input name="name" class="field" type="text" placeholder="Martillo" required>
                </section>
                <section class="sect-principal">
                    <h2>Descripción</h2>
                    <textarea name="description" class="field" id="" cols="30" rows="10" required></textarea>
                </section>
                <section class="sect-principal">
                    <h2>Precio por unidad</h2>
                    <input name="price" class="field" type="text" placeholder="$12345.67" required>
                    <i class="aclaracion">(Precio en ARS)</i>
                </section>
                <section class="sect-principal">
                    <h2>Categoría</h2>
                    <select name="category">
                        <option value="ferreteria">Ferretería</option>
                        <option value="pintureria">Pinturería</option>
                        <option value="plomeria">Plomería</option>
                        <option value="jardineria">Jardinería</option>
                        <option value="maquinaria">Maquinaria</option>
                    </select>
                </section>
                <section class="sect-principal">
                    <h2>Marca</h2>
                    <input type="text" name="brand" placeholder="Black & Decker" id="" required>
                    <i class="aclaracion">(Si el producto no tiene marca, ingreselo como "Varios")</i>
                </section>
                <section class="sect-principal">
                    <h2>Imagen del producto</h2>
                    <input name="filename" type="file" src="" alt="" required>
                    <i class="aclaracion">(Solo admite formatos .png y .jpg)</i>
                </section>
                <section id="botonera">
                    <button type="submit" id="submit">Enviar</button>
                    <button type="reset" id="reset">Reiniciar campos</button>
                </section>
            </form>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>