#user-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ff4fad;
    width: 20%;
    border: solid 2px #383838;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.7);
    font-size: 18px;
}
#user-small:hover {
    animation-name: sombreado;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes sombreado {
    0% { box-shadow: 2px 2px 5px rgba(38, 38, 38, 0.7); }
    100% { box-shadow: 0px 0px 0px; }
}
#user-small #user-small-data {
    text-align: center;
    padding: 10px;
}

#user-small svg {
    padding: 10px;
    border-right: solid 1px #383838;
}