<header>
    <nav id="barra-principal">
        <div id="mobile-burger">
            <i class="fas fa-bars"></i>
        </div>
        <a href="/home/"><img src="/img/Logo.png" alt="Toolbox"></a>
        <form class="formulario-busqueda" action="#" method="get">
            <div class="barra-busqueda">
                <select name="busqueda" id="categoria">
                    <option value="ferreteria">Ferretería</option>
                    <option value="pintureria">Pinturería</option>
                    <option value="plomeria">Plomería</option>
                    <option value="jardineria">Jardinería</option>
                    <option value="maquinaria">Maquinaria</option>
                </select>
                <input id="linea" type="search" placeholder="¿Que buscas?">
                <button id="buscar" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <a id="carrito" href="/productCart/"><i class="fas fa-shopping-cart"></i></a>
    </nav>
    <div id="barra-menu">
        <nav id="navegacion">
            <a href="/home/">Página principal</a>
            <a href="/product/">Productos</a>
            <a href="">Marcas</a>
            <a href="">Sobre nosotros</a>
        </nav>
        <nav id="sesion">
            <a href="/login/">Iniciar sesión</a>
            <p>o</p>
            <a href="/register/">Registrarse</a>
        </nav>
    </div>
</header>