header {
    position: sticky;
    top: 0px;
    z-index: 4;
    box-shadow: 0px 1px 0.7px 1px rgba(38, 38, 38, 0.4);
}

/* Formato para la barra principal, la mitad de arriba*/
#barra-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00A1F3;
    color: #C7F0C7;
    /*border: solid 2px #383838;*/
}
/* Ajuste de tamaño del logo */
#barra-principal img {
    max-width: 100px;
    text-decoration: none;
}

/* Formato de la barra de busqueda*/
.barra-busqueda {
    background: #383838;
    /*border-radius: 20px;*/
    padding: 2px;
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 40px;
    font-size: 18px;
}

/* Formato del selector de categoría*/
#categoria {
    background: #0172BD;
    color: #f2f2f2;
    /*border-radius: 20px 0 0 20px;*/
    padding: 2px;
    width: 20%;
}
#linea {
    width: 70%;
}
/* Formato del botón de busqueda */
#buscar {
    background: #0172BD;
    color: #f2f2f2;
    border: 0;
    /*border-radius: 0 20px 20px 0;*/
    margin: 2px;
    width: 10%;
    text-align: center;
}

.fa-bars {
    color: #f2f2f2;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #383838;
    /*border-radius: 20px;*/
    font-weight: 600;
    font-size: 35px;
    padding: 10px;
    box-shadow: 0px 1px 0.7px 1px rgba(38, 38, 38, 0.4);
}

/* Formato del botón del carrito de compras*/
#carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    padding: 10px;
    background-color: #0172BD;
    border: solid 3px #383838;
    border-radius: 20px;
    box-shadow: 0px 1px 0.7px 1px rgba(38, 38, 38, 0.4);
}
.fa-shopping-cart {
    font-size: 30px;
    color: #f2f2f2;
}
#carrito:hover {
    background-color: #fbfbfb;
    color: #383838;
    box-shadow: 0px 0px 0px 0px;
}
#carrito:hover .fa-shopping-cart {
    color: #383838;
}

/* Formato para la barra de navegación, la parte de abajo de la cabecera*/
#barra-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #0172BD;
    border-top: solid 2px #383838;
    border-bottom: solid 2px #383838;
    color: #C7F0C7;
    /*border: solid 2px #C7F0C7;*/
    padding-left: 30px;
    padding-right: 30px;
    
}

/* Arreglo de color y decoración de los enlaces */
#barra-menu a {
    text-decoration: none;
    color: #C7F0C7;
    padding: 15px;
}

#navegacion {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#barra-menu a:hover {
    background-color: #f2f2f2;
    color: #383838;
}
#sesion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logoutButton {
    background-color: #0172BD;
    border: 0px;
    color: #C7F0C7;
    padding: 14px;
}
#logoutButton:hover  {
    background-color: #f2f2f2;
    color: #383838;
}

.respmenu a { 
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #efefef;
    width: 90vw;
    background: #383838;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
}

.respmenu input[type="checkbox"], .respmenu .fa-times {
    position: absolute; 
    left: 20px;  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    width: 50px;
    height: 50px;  
    text-align: center;
  }
   
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 50px;
    pointer-events: none;
    position: absolute; 
    left: 0px;
    color: #383838;
  }
  
#burger-icon {
    color: #383838;
    background-color: #efefef;
    border: 3px solid #383838;
    border-radius: 20px;
    font-weight: 600;
    font-size: 35px;
    padding: 5px;
    box-shadow: 0px 1px 0.7px 1px rgba(38, 38, 38, 0.4);
    position: relative;  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
}

  .respmenu input[type="checkbox"] {
    opacity: 0; 
  }
   
  .respmenu {
    color: white;
    position: absolute; 
    left: 40px;
    min-height: 35px;
  }
   
  .respmenu #navegacion {
    display: none;
  }
   
  .respmenu input:checked ~ #navegacion {
    display: block;
    position: absolute;
    width: 100%;
    top: 50px;
  }
   
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
   
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }
@media (max-width: 775px) {
    #barra-menu {
        display: none;
    }
    .formulario-busqueda {
        display: none;
    }
    #carrito {
        position: absolute;
        right: 40px;
    }
    
}

@media (min-width: 776px) {
    #mobile-burger {
        display: none;
    }
}
